.dashboard {
  display: flex;
  width: 80vw;
  height: 80vh;
  gap: 1rem;
  align-items: center;
  margin: 4rem 2rem;
}
.loader{
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .dashboard {
    display: flex;
    width: 80vw;
    height: 80vh;
    gap: 1rem;
    align-items: center;
    margin: 4rem 2rem;
    flex-direction: column;
  }
}